footer {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  box-shadow: var(--shadow) 0px 8px 24px;
  padding: 20px;
  transition: 0.5s;
  margin: 1vh;
  border-radius: 12px;
}

.footer-text {
  color: var(--secondary);
  transition: 0.5s;
}
.dev-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}

.dev-icon:hover {
  transform: rotate(-180deg);
  transition: 1s;
}

.footer-link:hover {
  color: var(--fun);
  transition: 0.3s;
}

@media (max-width: 900px) {
  footer {
    height: 8svh;
    font-size: 0.9em;
  }
}
